.body {
    background: #FFFFFF;
}
.title {
        
    position: absolute;
    width: 150px;
    height: 24px;
    left: 112px;
    top: 3%;

    /* Typography/H1 Page */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
    text-align: center;

    color: #000000;
}
.week_button{
    color: #1E3023;
    background: #FFFFFF;
    border: 1px solid #E09167;
    margin: 1.4%;
    margin-top: 26%;
    padding: 2%;
    border-radius: 29px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14.68px;
    margin-left: 3.7%;


}
.line{
    
    position: absolute;
    width: 375px;
    height: 0px;
    left: 0px;
    top: 81px;

    border: 1px solid #FAF9F9;
}
.select{
    position: absolute;
    width: 83px;
    height: 15px;
    left: 78%;
    top: 137px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 15px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #413f3f;
}